<div class="dialog-container">
  <h1 mat-dialog-title>Add Music</h1>
  <div mat-dialog-content>

    <form class="name-form">

      <mat-form-field appearance="outline">
        <ngx-mat-file-input
          [formControl]="fileControl"
          [placeholder]="'Select Image'"
          accept=".jpg, .jpeg, .png">
        </ngx-mat-file-input>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="{file: fileControl.value}" cdkFocusInitial>Ok</button>
  </div>
</div>
