<mat-drawer-container id="drawer-container">
  <mat-drawer mode="side" opened>
    <div id="side-drawer">
      <app-side-drawer></app-side-drawer>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<div id="audio-player">
  <app-media-player></app-media-player>
</div>

