#drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#audio-player {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
}



#side-drawer {
  padding: 16px;
}
