<div class="dialog-container">
  <h1 mat-dialog-title>Add Tags</h1>
  <div mat-dialog-content>

    <mat-chip-list aria-label="Categories">
     <ng-template ngFor let-item [ngForOf]="data.tags">
        <mat-chip>{{item.name}}</mat-chip>
     </ng-template>
    </mat-chip-list>

    <form class="name-form">
      <mat-form-field >
        <mat-label>Tag Name</mat-label>
        <input type="text" matInput #name [formControl]="nameFormControl">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          A File name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="{name: nameFormControl.value, file: fileControl.value}" cdkFocusInitial>Ok</button>
  </div>
</div>
