<div class="grid-container">
  <mat-grid-list cols="5" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
      <mat-card class="category-card">
        <mat-card-header>
          <mat-card-title>
            {{card.name}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <img class="category-img" mat-card-image [src]="card.image">

          <button class="category-button" mat-flat-button color="accent"> {{card.name}} Music</button>

        </mat-card-content>

    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
