@import 'src/theme';

.category-card{
  width: 200px;
  height: 200px;
  border-radius: 20%;
  overflow: hidden;
  background-color: mat-color($my-custom-primary);
}

.category-img {
  padding-top: 10px;
  height: 200px;
  margin: auto auto auto -16px;
  object-fit: cover;
}

.category-button {
  float: bottom;
  bottom: 5px;
  left: 25%;
  position: absolute;
}
