<div class="dialog-container">
  <h1 mat-dialog-title>Add Music</h1>
  <div mat-dialog-content>

    <form class="name-form">

      <mat-form-field >
        <mat-label>File Name</mat-label>
        <input type="text" matInput #name [formControl]="nameFormControl">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          A File name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <ngx-mat-file-input
          [formControl]="fileControl" [separator]="', '"
          [placeholder]="'Select Files'"
          [multiple]="false" [accept]="fileTypes">
        </ngx-mat-file-input>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="{name: nameFormControl.value, file: fileControl.value}" cdkFocusInitial>Ok</button>
  </div>
</div>
