<div id="media-player-container">

  <div id="main-control">
    <div id="main-control-buttons">
      <button mat-icon-button color="accent"> <mat-icon>skip_previous</mat-icon></button>
      <button mat-icon-button color="accent" *ngIf="audio.paused" (click)="resume()"> <mat-icon>play_circle</mat-icon></button>
      <button mat-icon-button color="accent" *ngIf="!audio.paused" (click)="pause()"> <mat-icon>pause</mat-icon></button>
      <button mat-icon-button color="accent"> <mat-icon>skip_next</mat-icon></button>
    </div>
    <div class="flex-break"></div>
    <mat-slider color="accent" id="media-progress-slider" [max]="audio.duration" [(value)]="audio.currentTime" #slider></mat-slider>
  </div>


  <div id="volume-controls">
    <mat-icon color="accent" *ngIf="audio.volume && audio.volume > 0.6">volume_up</mat-icon>
    <mat-icon color="accent" *ngIf="0 < audio.volume && audio.volume <= 0.6">volume_down</mat-icon>
     <mat-icon color="accent" *ngIf="audio.volume == 0">volume_mute</mat-icon>
    <mat-slider color="accent" id="volume-slider" min="0" max="1" step="0.1"  [(value)]="audio.volume" ></mat-slider>
  </div>


</div>
