@import "src/theme";

#media-player-container {
  background-color: #212121;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}

#volume-controls {
  position: fixed;
  float: right;
  right: 25px;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

#volume-slider {
  transform: translate(10px, -5px);
}

#main-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main-control-buttons {
  display: flex;
}

#media-progress-slider {
  width: 35vw;
  transform: translate(0px, -10px);
}

.mat-icon {
    font-size: 32px;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}



