<div id="side-drawer-container" fxLayout="column" fxLayoutGap="5px">
  <h1 id="title"> HighNote </h1>

  <div class="spacer"></div>

  <div id="main-buttons" fxLayout="column" fxLayoutGap="5px">
    <button mat-flat-button routerLink="/home"> <mat-icon>home</mat-icon> Home </button>
    <button mat-flat-button (click)="uploadFiles()"> <mat-icon>add</mat-icon> Upload Files </button>
    <button mat-flat-button> <mat-icon>search</mat-icon> Search </button>
  </div>

  <div class="spacer"></div>

  <div id="playlists" fxLayout="column" fxLayoutGap="5px">
    <div class="playlists-header">
      <span id="playlists-text"> Playlists </span> <button mat-icon-button (click)="addPlaylist()"> <mat-icon>add</mat-icon></button>
    </div>
    <div *ngFor="let playlist of playlists">
      <button mat-flat-button class="playlist-button" [routerLink]="getLink(playlist.id)"><b>{{playlist.id}} - {{playlist.name}}</b></button>
    </div>
  </div>

</div>
