@import 'src/theme';

.spacer {
  min-height: 36px;
}

.mat-flat-button {
  text-align: center;
  min-width: 100%;
}

#title {
  font-family: 'Lobster', cursive !important;
  font-size: 2.5rem !important;
  color: mat-color($my-custom-accent);
}

#playlists {

}

#playlists-text {
  font-size: 1.25rem;
  text-align: center;
}
