@import 'src/theme';

#layout {
  padding: 32px
}

.card {
  overflow: hidden;
  width: 250px;
  height: 200px;
  border-radius: 5%;
}

.card:hover {
  background-color: mat-color($my-custom-accent);
}

.card-header {
  //margin: auto;
  //padding-bottom: 5px;
  //width: fit-content;
  overflow: hidden;
  height: 65px;

}

.card-title {
  margin: auto -20px;
  font-size: 18px !important;
}

.card-image {
  position: absolute;
  object-fit: cover;
  display: block;
  margin: 0 -30px;
}

.card-menu-button {
  position: absolute;
  float: right;
  right: 0; top: 10px;
}

