<div id="layout" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="24px grid" >
  <div id="cards-container" *ngFor="let card of cards">
    <mat-card class="card" >
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">
          <button mat-icon-button (click)="play(card)" color="primary"> <mat-icon>play_circle</mat-icon></button>
          <span>{{card.title}}</span>
        </mat-card-title>

        <button class="card-menu-button" mat-icon-button [matMenuTriggerFor]="cardMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #cardMenu="matMenu" class="card-menu-container">
          <button mat-menu-item  [matMenuTriggerFor]="playlistMenu"> <mat-icon>add</mat-icon> Add to playlist </button>
          <mat-menu #playlistMenu="matMenu">
            <button mat-menu-item *ngFor="let playlist of playlists" (click)="addToPlaylist(card.id, playlist.id)"> {{playlist.name}} </button>
          </mat-menu>

          <button mat-menu-item [matMenuTriggerFor]="categoryMenu">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <span>Add Category</span>
          </button>
          <mat-menu #categoryMenu="matMenu">
            <button mat-menu-item (click)="newCategory()"> <mat-icon>add</mat-icon> New Category </button>
            <button mat-menu-item *ngFor="let category of categories" (click)="addCategory(card.id, category.id)">{{category.name}}</button>
          </mat-menu>

          <button mat-menu-item (click)="imageDialog(card.id)">
            <mat-icon>image</mat-icon>
            <span>Add Image</span>
          </button>

          <button mat-menu-item (click)="delete(card.id)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete File</span>
          </button>
        </mat-menu>



      </mat-card-header>
      <mat-card-content>
        <img mat-card-image class="card-image" [src]="card.image">
      </mat-card-content>
    </mat-card>
  </div>
</div>
