<div class="page-container">
  <span class="playlist-title"> {{ data.name }} </span>
  <button mat-icon-button (click)="delete()"> <mat-icon color="warn">delete</mat-icon> </button>
  <app-page-layout [cards]="cards"></app-page-layout>
</div>
